<!DOCTYPE html>
<form method="POST" action="{{ url_for('co2_by_country') }}">
  <h1>emitted co2 by country </h1></br>
       
        </br>for year </br>  
            <select name="yr">
			<option value=2010>2010</option>
              {% for y in year %}
                <option value="{{y}}">{{y}}</option>
              {% endfor %}
              
            </select>
            </br></br> 
			</br>co2 from </br>
            <select name="y_axis_min">
			<option value=5.5>5.5</option>
              {% for i in range(0,100) %}
                <option value="{{i/2}}">{{i/2}}</option>
              {% endfor %}
              
            </select>
            to
            <select name="y_axis_max">
			<option value=35.5>35.5</option>
              {% for i in range(0,100) %}
                <option value="{{i/2}}">{{i/2}}</option>
              {% endfor %}
            </select>
           </br></br>
    <button type="submit">Plot</button>
  
</form>