<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
}
</style>
</head>
<body>

<h1> temperature    </h1>

	<a href="random_temp_plot"> random temperature plot </a>
	<a href="temperature"> temperature plot </a>
    </br></br>
<h1> co2 </h1>
	<a href="random_co2_plot"> random co2 plot </a>
	<a href="co2"> co2 plot </a>
<h1> co2 by country </h1> 
	<a href="co2_by_country"> plot co2 by country </a>
<h1> help </h1>
	<a href="help">help</a>

</body>
</html>
